@import "tailwindcss";

@font-face {
  font-family: 'Rock';
  src: url('./../public/font/ZenDots-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
};

body {
  font-family: 'Rock', sans-serif;
}

main {
  width: calc(100vw - 64px);
  height: 100dvh;
}

.navigation {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100dvh;
  width: calc(100vw - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Scroll-none {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.work {
  width: calc(100% - 128px),
}