@import "tailwindcss";

@font-face {
  font-family: 'Rock';
  src: url('./../public/font/ZenDots-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
};

body {
  font-family: 'Rock', sans-serif;
}


.btn{
  cursor: pointer;
  position: relative;
  background: transparent;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  transition: all 1s;
}

.navigation {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  z-index: -1;
}

.glitch::before {
  color: #0ff;
  animation: glitchTop 1s infinite linear alternate-reverse;
}

.glitch::after {
  color: #f0f;
  animation: glitchBottom 1s infinite linear alternate-reverse;
}

@keyframes glitchTop {
  0% { transform: translate(0, 0); opacity: 1; }
  20% { transform: translate(-2px, -2px); opacity: 0.8; }
  40% { transform: translate(-5px, 0); opacity: 0.6; }
  100% { transform: translate(0, 0); opacity: 1; }
}

@keyframes glitchBottom {
  0% { transform: translate(0, 0); opacity: 1; }
  20% { transform: translate(2px, 2px); opacity: 0.8; }
  40% { transform: translate(5px, 0); opacity: 0.6; }
  100% { transform: translate(0, 0); opacity: 1; }
}